<h1>
  ¡You're welcome{{user.first_name}}
  {{user.last_name}}! you have the following role:
  {{user.rol}}
</h1>
<h3>Welcome,
  {{user.name}}
  | email:
  {{user.email}}
  | rol:
  {{user.role}}
  |
  <button onclick="location.href='/api/users/logout'">Sign off</button></h3>
<h1>Products</h1>
{{#if products.length}}
  <div class="products-container">
    {{#each products}}
      <div class="product-container">
        <h3>{{title}}</h3>
        <img src="{{thumbnail}}" />
        <p>{{description}}</p>
        <h4>Category: {{category}}</h4>
        <h4>${{price}}</h4>
        <h5>Stock: {{stock}}</h5>
        <button id={{id}}>Add to Cart</button>
        <br /><br /><br /><br />
      </div>
    {{/each}}
    {{#if results.hasPrevPage}}
      <button onclick="location.href='{{results.prevLink}}'">Go to page
        {{results.prevPage}}</button>
    {{/if}}
    {{#if results.hasNextPage}}
      <button onclick="location.href='{{results.nextLink}}'">Go to page
        {{results.nextPage}}</button>
    {{/if}}
  </div>
{{else}}
  <h2>No Products</h2>
{{/if}}